body {
	margin: 0 auto;
	background: #fff;
	color: #222;
	font: 13px arial,sans-serif;
}

p {
	margin-bottom: 22px;
}

header {
	background:rgb(242, 242, 242);
	background-image: url('./resources/logo.png');
	background-position: left;
	background-repeat: no-repeat;
	background-size: 119px 51px;
    border-bottom: 1px solid #e4e4e4;
	color: #666;
    height: 60px;
	width: 100%;
	position: fixed;
	top: 0px;
	font-size: small;
    line-height: 40px;
}

header input {
	width: 564px;
	height: 38px;
	border: 1px solid #d9d9d9;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 125px;
	padding-left: 10px;
	padding-right: 40px;
	background-image: url('./resources/mic.png');
	background-repeat: no-repeat;
	background-position: right;
}

header button {
    height: 36px;
    line-height: 27px;
	background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    font-weight: bold;
    font-family: arial, sans-serif;
    margin: 10px 2px;
	padding: 0px 17px;
	text-align: center;
}

nav {
	position: absolute;
	width: 100%;
	top: 0;
}

nav ul {
	margin: 0 auto;
	list-style: none;
	text-align: right;
	padding-top: 5px;
}

nav li {
	display: inline-block;
	margin-right: 20px;
	line-height: 44px;
	vertical-align: middle;
}

nav li a {
	text-decoration: none;
	color: #222;
	opacity: 0.95;
}

nav li a:hover {
	text-decoration: underline;
}

nav button {
    outline: none;
    height: 30px;
    width: 71px;
    line-height: 27px;
	background-color: #4285f4;
	border: 1px solid #4285f4;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
    font-family: arial, sans-serif;
    margin: 11px 4px;
	padding: 0px 5px;
	text-align: center;
	vertical-align: middle;
}

.grid {
	vertical-align: middle;
	height: 30px;
	width: 30px;
}

#main {
	text-align: center;
	width: 100%;
	margin-top: 198px;
}

footer {
	background:rgb(242, 242, 242);
    border-top: 1px solid #e4e4e4;
	color: #aaa;
    height: 84px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	font-size: small;
    line-height: 40px;
    padding-left: 100px;
}

footer ul {
	margin-right: 30px;
	list-style: none;
}

footer li a {
	text-decoration: none;
	color: #666;
}

footer li a:hover {
	text-decoration: underline;
}

#footer_links {
	float: left;
	margin-left: 3px;
}


#footer_links li {
	padding-left: 27px;
	display: inline-block;
}

.location {
	background: #9A9FA4;
    box-shadow: 0 0 0 1px #97999D;
	border-radius: 100%;
    display: inline-block;
    height: 8px;
    margin: 7px 5px 10px 1px;
    vertical-align: middle;
    width: 8px;
}